<div class="inner-page">
    <div ng-include="'Templates/SelfCare/Themes/Breadcrumb.html'"></div>
    <div class="inner-selfcare">
        <div class="container">
            <div class="panel-data clean">
                <h3>Change Password</h3>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-12">
                        <div class="self-care">
                            <etbossform value="ChangePasswordFormController" name="passwordupdate" ng-controller="ChangePasswordFormController" field="{{dataPass}}"></etbossform>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

