.btn-red {
  color: #fff; }

.admin-nav-wrap .nav > li > a {
  color: #000; }

.admin-nav-wrap .nav > li > a.active, .admin-nav-wrap .nav > li > a:hover {
  color: #e71d26;
  border-bottom: transparent;
}

/*for button color*/
.form-control {
  color: #333;
  border-color: #e1e1e1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset; }

.btn-light-gray {
  -webkit-box-shadow: 0 2px 2px #e2e2e2;
  box-shadow: 0 2px 2px #e2e2e2;
  color: #666;
  border-color: #dddddd;
  background-image: -webkit-linear-gradient(to top, #eeeeee, #f3f3f3);
  background-image: linear-gradient(to top, #eeeeee, #f3f3f3); }

.btn-light-gray:hover, .btn-light-gray:focus {
  border-color: #dddddd;
  color: #999;
  background-image: -webkit-linear-gradient(to top, #eeeeee, #f3f3f3);
  background-image: linear-gradient(to top, #e9e9e9, #eeeeee); }

/*.btn-red {
  -webkit-box-shadow: 0 2px 2px #c3c3c3;
  box-shadow: 0 2px 2px #c3c3c3;
  border-color: #c32420;
  background-image: -webkit-linear-gradient(to top, #e04541, #e71d26);
  background-image: linear-gradient(to top, #e04541, #e71d26); }

.btn-red:hover, .btn-red:focus {
  color: rgba(255, 255, 255, 0.9);
  border-color: #d92924;
  background-image: -webkit-linear-gradient(to top, #dc302b, #e04541);
  background-image: linear-gradient(to top, #dc302b, #e04541); }*/

/*for input theme*/
.form-box {
  border-color: #ebebeb;
  background-color: #fff; }

.btn-selection {
  background-color: #ebebeb; }

.input-bg-gray {
  border-color: #dddddd;
  background-color: #e4e4e4;
  color: #000; }

.input-bg-gray:active, .input-bg-gray:hover {
  border-color: #cdcdcd; }

.input-group-addon {
  color: #333;
  background-color: #ebebeb; }

.icheckbox_square-red,
.iradio_square-red {
  background: url(../../images/red.png) no-repeat; }

/* for topbar theme*/
.topbar-wrap {
  background-color: #e71d26; }
  .topbar-wrap a {
    color: rgba(255, 255, 255, 0.9); }
    .topbar-wrap a:hover {
      color: #fff; }

.toplist-menu .dropdown-menu-line a {
  border-color: rgba(235, 235, 235, 0.4);
  color: #666; }
.toplist-menu > ul > li:hover {
  background-color: #d92924; }

/*for Nav and mega menu of dropdown nav*/
.navbar-nav .dropdown-menu {
  background-color: rgba(18, 111, 189, 0.9);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.176); }

.admin-nav-wrap {
  background-color: #fff;
  border-bottom-color: #e1e1e1;
  /*box-shadow: 0 3px 3px #e1e1e1;*/ }
  .admin-nav-wrap .navbar-form {
    /*for search on navigation */ }
    .admin-nav-wrap .navbar-form i {
      color: #666; }

@media (min-width: 768px) {
  /*.nav > li > a.active {
    border-bottom-color: #e71d26; }*/
  .nav .mega-menu-content {
    /*mega menu on the nav*/
    padding: 15px; }
    .nav .mega-menu-content ul.mega-menu-submenu h6 > a {
      color: #fff; }
    .nav .mega-menu-content ul.mega-menu-submenu a {
      color: rgba(255, 255, 255, 0.8); }
    .nav .mega-menu-content .mega-menu-list {
      border-left-color: rgba(255, 255, 255, 0.15); }
  .nav .open {
    /*the the style for the active menu when open the dropdown menu , override the template*/ }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: transparent;
      /*border-color: #e71d26;*/ }
    .nav .open > a:hover, .nav .open > a:focus {
      color: #e71d26; } }
@media (max-width: 767px) {
  .nav .mega-menu-content ul.mega-menu-submenu a {
    color: #333; } }
/*for layout*/
.box-blue {
  border-top-color: rgba(51, 153, 237, 0.5); }

.box-brown {
  border-top-color: rgba(226, 82, 78, 0.5); }

.box-brown span, .box-blue span {
  color: #999; }

.box-wrap {
  -webkit-box-shadow: 0 2px 2px #e2e2e2;
  box-shadow: 0 2px 2px #e2e2e2;
  border-color: #e1e1e1; }
  .box-wrap a {
    color: #666; }
  .box-wrap .bgc1 {
    background-color: #775569; }
  .box-wrap .bgc2 {
    background-color: #8d3163; }
  .box-wrap .bgc3 {
    background-color: #2e669f; }
  .box-wrap .bgc4 {
    background-color: #e69d47; }
  .box-wrap .icon-logo {
    color: #fff; }

.nav-tabs {
  border-bottom-color: #e1e1e1; }
  .nav-tabs > li > a {
    background-color: #f6f6f6;
    color: #666;
    border-color: #e1e1e1; }

.list-badge {
  color: #333;
  background-color: transparent; }

.nav-pills.nav-stacked > li {
  border-bottom-color: #ebebeb; }
  .nav-pills.nav-stacked > li > a {
    color: #666; }
.nav-pills.nav-stacked > li.active a {
  color: #fff;
  background-color: #1380da; }

.pagination > li > a {
  color: #666; }

.path-wrap {
  /*The path of the page*/
  border-bottom-color: #e1e1e1; }
  .path-wrap .breadcrumb a {
    color: #666; }
  .path-wrap h1 {
    color: #333; }

.alert-warning {
  border-color: rgba(226, 82, 78, 0.25);
  color: #e71d26; }

.footer-wrap {
  border-top-color: #e1e1e1;
  background-color: #fff; }
  .footer-wrap .copyright {
    color: #999; }
  /*agung
  change color for active button*/
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #e71d26;
    border-color: #e71d26;
}
    /*agung
  change color for hover button*/
    a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #e71d26;
    text-decoration: none;
    background-color: #F5F5F5;
}


.ui-step .ui-step-active {
  color: #e71d26; }


/*advance search selected table*/
.advancesearchselected {
        color: #c32420;
        font-weight: bold;
    }


/* Updated style */

body {
  background: #efefef;
}

a {
  color: #177ee5;
}

a:hover,
.page-sidebar-menu li a:hover,
.page-sidebar .page-sidebar-menu li a:hover {
  color:#e71d26;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color:#e71d26;
}

/*.main-dashboard {
  background: #efefef;
}

.top-dashboard {
  background: #e9e9e9;
}*/

.breadcrumb > .active {
  color: #e71d26;
}





/* sidebar --------- */
.page-sidebar .page-sidebar-menu li .active {
  background: #e71d26;
  border-radius: 0;
  border: none;
}

.page-sidebar .page-sidebar-menu li .active:hover {
  background: #333;
  color: #fff;
}

.page-sidebar-menu li a {
  color: #177ee5;
}

.feat-apps h3 {
  color: #333;
}



.form-bottom .btn.btn-default {
  background: #177ee5;
  border: 1px solid #177ee5;
  color: #fff;
}

.form-bottom .btn.btn-default:hover,
.form-bottom .btn.btn-default:focus {
  background: #e71d26;
  border-color: #e71d26;
  color: #fff;
}


.btn-default {
  background: #fff;
  border: 1px solid #177ee5;
  text-transform: capitalize;
  color: #177ee5;
}

.btn-default:hover,
.btn-default:focus {
  background: #e71d26;
  color: #fff;
  border-color: #e71d26;
}

.page-sidebar-menu li a:before {
  background: #e71d26;
}


.normal-wrap {
  border: 1px solid #e5e5e5;
  box-shadow: none;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
      -o-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
}

/*.normal-wrap:hover {
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0,0,0,0.070);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.070);
}*/

.normal-wrap .title {
  border-bottom-color: #e5e5e5;
}

.normal-wrap .title h3 {
  color: #e71d26;
}

.apps-updates .list-group li:first-child {
  color: #333;
}

.panel-options li:last-child {
  border-left-color: #e5e5e5;
}

.panel-options .btn-toggle {
  color: #177ee5;
}

.normal-wrap .title h3 {
  color: #e71d26;
}




/* Web Elements ------------------- */

/* button */
.btn-red {
  background: #e71d26;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: 'myriadsetpro-semibold', sans-serif;
  font-weight: normal;
  letter-spacing: .5px;
}

.btn-red:focus,
.btn-red:hover {
  background: #fff;
  border-color: #e71d26;
  color: #e71d26;
}


.btn-primary {
  color: #fff;
  background-color: #177ee5;
  border-color: #177ee5;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #e71d26;
  border-color: #e71d26;
}
.btn-primary:hover {
  color: #fff;
  background-color: #e71d26;
  border-color: #e71d26;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #177ee5;
  border-color: #177ee5;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #e71d26;
  border-color: #e71d26;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.footer-wrap {
  background-color: #333;

  border-top: 2px solid #d9d9d9;
}

.footer-wrap .copyright>p,
.footer-wrap {
  color: #f9f9f9;
}


/* customer reg page */
.csr-reg .etakwizard {
  border-top: 1px solid #e71d26;
}


.csr-reg .etakwizard-step p {
 color: #e71d26;
}



.csr-reg .step-title h3 {
  color: #e71d26;
}


.csr-reg .next-btn,
.csr-reg .prev.btn {
  background: #177ee5;
  color: #fff;
}

.customer-info-order .nav-tabs.nav-justified > .active > a {
  color: #e71d26;
}


.csr-reg .info1,
.scr-reg .glyphicon-info-sign {
  color: #177ee5;
}

.csr-reg .prev-btn {
  color: #177ee5;
}

.csr-reg h4 {
  color: #e71d26;
}

.btn-arrow {
  background: #e71d26;
}

.etakwizard-step:after {
  border-color: transparent transparent transparent #e71d26;
}

.etak-modal .modal-header .close {
  background: #e71d26;
}

/* refined */
.pagination > .active > a,
.form-control:focus {
  border-color: #177ee5;
}

.glyphicon-calendar {
  color: #177ee5;
}

.btn-default:hover,
.btn-default:focus {
  background: #177ee5;
  border-color:#177ee5;
}

.page-sidebar .page-sidebar-menu li a.active, .page-sidebar .page-sidebar-menu li .active {
  background: #e71d26;
}

.pinned .pinned-normal, .pinned .iconinfo-bg {
  border: 1px solid #e71d26;
  color: #e71d26;
}

.pinned .iconinfo-bg {
  background-color: #e71d26;
}

.modal-editor .dropdown-menu li a:hover {
  border-color: #e71d26;
}

.panel-options li a.btn.btn-default:hover {
  border-color: #e71d26;
}
.active-device{
  color: #e71d26;
}
.active-font{
  color: #e71d26;
}
.border-active-device{
    border-top:3px solid #e71d26;
}

.dashboard-entry .page-title,
.dashboard-entry .right-info p strong {
    color: #e71d26;
}

.dashboard-entry .cart-summary .btn-group .btn {
    background: #e71d26;
    color: #fff;
    border-color: #e71d26;
    border-radius: 2px;
}

.dashboard-entry .cart-summary .btn-group .btn:hover {
    background: #333;
    border-color: #333;
}

.dashboard-entry .checkout-bottom .btn-group > .btn {
    border-color: #e71d26;
    color: #e71d26;
}

.dashboard-entry .checkout-bottom .btn-group > .btn:hover {
    background: #e71d26;
    color: #fff;
    border-color: #e71d26;
}

.dashboard-entry .checkout-bottom .btn-group > .btn.next {
    background: #e71d26;
}

.dashboard-entry .checkout-bottom .btn-group > .btn.next:hover {
    background: #333;
    color: #fff;
    border-color: #333;
}


/* cart style*/
.byod-title h3 {
    color: #177ee5;
}

.big-price,
.radio-sets input[type="radio"]:checked + label:after,
.dashboard-entry .your-cart-title h5 {
  color: #e71d26;
}



.left-box {
  background: #177ee5;
}

.optionalfeature-price {
  color: #e71d26;
}

.related-item .btn.btn-default:hover,
.product-offer .btn.btn-default:hover {
    border-color: #e71d26;
}

.dashboard-entry .device-spec h3 {
  color: #e71d26;
}

.items-bar {
    background: #177ee5;
    color: #fff;
}

.box-inline:before {
  border: 4px solid #e71d26;
}

.device-pack .radio-sets input[type="radio"] + label:hover,
.device-pack .radio-sets input[type="radio"] + label:focus {

  border: 1px solid #e71d26;
  color: #e71d26;
}

.userinfo-text .btn.btn-default:hover {
    border-color: #e71d26;
}

.userinfo-text .btn.btn-default {
    border: 1px solid #177ee5;
    color: #177ee5;
}

.plan-welcome {

  border: 1px solid #177ee5;

}

.device-information .btn-default:hover,
.device-information .btn-default:focus,
.device-information .btn-default:active {
  color: #e71d26;
}

.device-pack .radio-sets input[type="radio"] + label:hover,
.device-pack .radio-sets input[type="radio"] + label:focus {
  border: 1px solid #e71d26;
  color: #e71d26;
}

.radio-sets input[type="radio"] + label:hover, .radio-sets input[type="radio"] + label:focus {
    color: #177ee5;
    border-color: #177ee5;
}

.dashboard-entry .related-item .circle-data-price,
.dashboard-entry .circle-data-price:after {
    background: #e71d26;
}

.dashboard-entry.accord-entry .panel-default > .panel-heading:hover {
    border-top: 1px solid #177ee5;
    border-bottom: 1px solid #177ee5;
    border-right: 1px solid #177ee5;
}

.dashboard-entry .accord-entry .panel-default > .panel-heading {
    border-left: 2px solid #e71d26;
     -webkit-transition-property: color, background;
 -webkit-transition-duration: .1s, .1s;
 -webkit-transition-timing-function: linear, ease-in;
 -moz-transition-property: color, background;
 -moz-transition-duration: .1s, .1s;
 -moz-transition-timing-function: linear, ease-in;
 transition-property: color, background;
 transition-duration: .1s, .1s;
 transition-timing-function: linear, ease-in;
}

.dashboard-entry #publicPlanDesc .left-box {
    border: 1px solid #ececec;
    background: #f3f3f3;
}

.dashboard-entry .related-item:hover,
.dashboard-entry .related-item:focus {

    border-color: #e71d26;
}

.byod-head h3,
.device-item .device-pack h3 {
    color: #e71d26;
}


.shopping-page .btn-default {
  background-color: #177ee5;
}

.dashboard-entry .circle-device {
    border-color: rgba(0,0,0,.3);
    background: #e71d26;
}

.dashboard-entry .cart-count {
    background: #e71d26;
}

.related-item .btn-default {
    border: 1px solid #177ee5;
    background: #177ee5;
}

.shopping-page .btn-default:active:hover,
.shopping-page .btn-default.active:hover,
.shopping-page .open > .dropdown-toggle.btn-default:hover,
.shopping-page .btn-default:active:focus,
.shopping-page .btn-default.active:focus,
.shopping-page .open > .dropdown-toggle.btn-default:focus,
.shopping-page .btn-default:active.focus,
.shopping-page .btn-default.active.focus,
.shopping-page .open > .dropdown-toggle.btn-default.focus {
  background-color:#e71d26;
  border-color: #e71d26;
}

.shopping-page .btn-default:active,
.shopping-page .btn-default.active,
.shopping-page .open > .dropdown-toggle.btn-default {
  background-color: #177ee5;
  border-color: #177ee5;
}


.shopping-page .btn-default:focus,
.shopping-page .btn-default.focus {

  background-color:#177ee5;

}
.shopping-page .btn-default:hover {
  border-color: #177ee5;
  background-color:#177ee5;
}

.dashboard-entry .checkout-bottom .btn-group > .btn.next {
  background: #177ee5;
}

.dashboard-entry .checkout-bottom .btn-group > .btn {
  color: #177ee5;
}

.btn-blues:focus,
.btn-blues.focus {
  color: #fff;
  background-color: #177ee5;
  border-color: #177ee5;
}
.btn-blues:hover {
  background-color: #177ee5;
  border-color: #177ee5;
}
.btn-blues:active,
.btn-blues.active,
.open > .dropdown-toggle.btn-blues {
  background-color: #e71d26;
  border-color: #e71d26;
}
.btn-blues:active:hover,
.btn-blues.active:hover,
.open > .dropdown-toggle..btn-blues:hover,
.btn-blues:active:focus,
.btn-blues.active:focus,
.open > .dropdown-toggle.btn-blues:focus,
.btn-blues:active.focus,
.btn-blues.active.focus,
.open > .dropdown-toggle.btn-blues.focus {
  background-color: #177ee5;
  border-color: #177ee5;
}

.btn-blues:before {
  background: #177ee5;
}

.btn-blues {

  background-color: #e71d26;
  border-color: #e71d26;
}

.step-entry .btn-default:before {
  background: #e71d26;
}

.shopping-action {
    border-top: 4px solid #e71d26;
}

.related-item .circle-data-price,
.circle-data-price:after {
    background: #e71d26;
}

.accord-entry .panel-default > .panel-heading:hover {
    border-top: 1px solid #e71d26;
    border-bottom: 1px solid #e71d26;
    border-right: 1px solid #e71d26;
}

.accord-entry .panel-default > .panel-heading {
    border-left: 2px solid #e71d26;
}

#publicPlanDesc .left-box {

    border: 1px solid #e71d26;
}

.related-item:hover,
.related-item:focus {
    border-color: #177ee5;
}

.circle-device {
    border-color: #e71d26;
}

.main-product h3,
.product-control h3,
.circle-device i {
    color: #e71d26;
}

.second-plan h4 {
  color: #e71d26;
}

.plan-text h3,
.plan-entry h3,
.plan-option h3,
.device-spec h3 {
  color: #e71d26;
}

.plan-welcome {
  border: 1px solid #177ee5;
}

.plan-welcome h3 {
  color: #e71d26;
}

.circle-data-price:after {
  background: #177ee5;
}

.circle-data-price {
  background: #177ee5;
}

.box-interest .text-with-icon i {
  color: #e71d26;
}

.accord-entry.collapse.in .panel-heading,
.accord-entry.collapse.in .panel-heading a {
  color: #e71d26;

}

.accord-entry .panel-default > .panel-heading {

  border-left: 2px solid #e71d26;
}

.device-slide .slick-dots li button {
  color: #177ee5;
  background: #177ee5;
}

.second-plan h4 {
  color: #e71d26;
}

.plan-text h3,
.plan-entry h3,
.plan-option h3,
.device-spec h3 {
  color: #e71d26;
}

.plan-option .open > .dropdown-menu {
  border: 1px solid #e71d26;
}

.plan-option .btn.btn-blues {

  border-color: #177ee5;

}

.plan-welcome .left-guide {
  background: #177ee5;

}

.dashboard-entry .checkout-bottom .btn-group > .btn {
    border-color: #177ee5;
}

.dashboard-entry .cart-summary .btn-group .btn:hover,
.device-pack .radio-sets input[type="radio"] + label {
    border-color: #e71d26;
}

.dashboard-entry .main-product h3, .dashboard-entry .product-control h3, .dashboard-entry .circle-device i,
.panel-heading a,
.list-with-icon i,
.invoice-detail h3,
.invoice-detail .table > thead > tr > th,
.payment-area .grand-total p {
    color: #e71d26;
}

.userinfo-text .btn.btn-default {
    border: 1px solid #177ee5;
    color: #177ee5;
}

.userinfo-text .btn.btn-default:hover {
    color: #fff;
    border-color: #e71d26;
}

.dashboard-entry button[name="Search_btn"]:hover,
.panel-options a.btn.btn-default:hover,
.panel-options li a.btn.btn-default:hover {
    background: #e71d26;
    color: #fff;
}

.panel-options a.btn.btn-default:hover,
.panel-options li a.btn.btn-default:hover {
    border-color: #e71d26;
    background: #e71d26;
    color: #fff;
}

.dashboard-entry button[name="Reset_btn"] {
    color: #fff;
}

.dashboard-entry button[name="Search_btn"]:hover {
    border-color: #e71d26;
}

.dash-detail .panel-heading {
    color: #e71d26;
}


.control-label.custom {
    background-color: #e71d26;
}


.btn.del-btn {
    color: #177ee5;
    background: transparent;
    border: 1px solid #177ee5;
}

.btn.del-btn:hover {
    color: #fff;
    background: #177ee5;
    border: 1px solid #177ee5;
}

#Add_Comment_btn:hover {
    background: #e71d26;
    border-color: #e71d26;
}

.ticket-information,
.ticket-information span,
.ticket-information i,
.section-title.has-btn .btn-default:hover,
.section-title.has-btn .btn-default,
.dash-detail .panel-heading,
.info-updates h5,
.box-info,
.dash-detail .ticket-information,
.etak-modal .modal-header h3,
.modal-buttons .btn,
.informative-box .btn.btn-sm {
    color: #e71d26;
}


.dash-detail .btn-default:hover,
.informative-box .btn.btn-sm:hover {
    background: #e71d26;
    border-color: #e71d26;
}

.section-title {
    border-bottom: 1px solid  #e71d26;
}

.section-title h3,
.etak-modal .modal-header .close {
    background: #e71d26;
}

.section-title.has-btn .btn-default {
    color: #177ee5;
}

.mid-modal-section .ta-scroll-window > .ta-bind:focus,
.modal-buttons .btn {
    border: 1px solid #177ee5;
}

.informative-box .btn.btn-sm,
.modal-buttons .btn {
    color: #177ee5;
}

.ticket-detail strong {
    color: #333;
}


.csrMenu .slick-prev.slick-disabled:before,
.csrMenu .slick-next.slick-disabled:before {
    color: #e71d26;
    opacity: .7;
}

.csrMenu .slick-prev:before,
.csrMenu .slick-next:before {
    color: #e71d26;
}

.etak-nav li a:before,
.home-btn li a:before,
.action-btn li a:before,
.etak-nav .dropdown-menu li a:before {
    background: #e71d26;
}


.nav-sort-item {
    background: #e71d26;
    border: 1px solid rgba(255,255,255,.5);

}

.nav-sort-item:hover,
.nav-sort-item:focus {
    background: #000;
}

.modal-body.sort-menus {
    background: #f3f3f3;
}


.modal-footer.has-sort-menus {
    background: #e5e5e5;
    border: none;
}

.modal-footer.has-sort-menus .btn.btn-default {
    background: #e71d26;
    border-color: #e71d26;
    color: #fff;
}

.modal-footer.has-sort-menus .btn.btn-default:hover {
    border-color: #333;
    background: #333;
    color: #fcfcfc;
}

.title .panel-options .btn.btn-default {
    color: #e71d26;
}

.normal-wrap .btn-active .btn {
    border-color: #e71d26;
    color: #e71d26;
}

.normal-wrap .btn-active .btn:hover,
.normal-wrap .btn-active .btn:focus {
    background:  #e71d26;
    color: #fff;
    border-color:  #e71d26;
}


.btn-active.customize .btn:hover,
.btn-inline .btn.btn-default:hover {
    border-color: #e71d26;
    background: #e71d26;
    color: #fff;
}

.normal-wrap .title .btn.btn-default {
    color: #177ee5;
}

.normal-wrap .btn.btn-theme:hover {
    background: #177ee5;
    color: #fff;
    border-color: #177ee5;
}

.title.has-block-btn .btn.btn-default:hover,
.normal-wrap.dash-detail .btn.btn-default:hover {
    color: #fff;
    background: #177ee5;
    border-color: #177ee5;
}


.admin-nav-wrap .nav > li > a:active,
.admin-nav-wrap .nav > li > a.active,
.admin-nav-wrap .nav > li > .active {
    color: #e71d26!important;
}

.title.has-result .btn.btn-default {
    color: #e71d26;

}


.normal-wrap .badge  {
    background: #333;
}

.normal-wrap.order-list .panel-options .btn.btn-default {
    color: #e71d26;
}

.normal-wrap.order-list .panel-options .btn.btn-default:hover {
    color: #fff;
    background: #177ee5;
    border-color: #177ee5;
}

.normal-wrap.inventory .title > .panel-options .btn.btn-default:hover {
    background: #177ee5;
    border: 1px solid #177ee5;
    color: #fff;

}

.normal-wrap .title .btn.btn-default {
    border-color: #177ee5;
}

.normal-wrap.dash-search .title .btn.btn-default {
    background: transparent;
    border-color: #177ee5;
    color: #177ee5;
}

.normal-wrap.dash-search .title .btn.btn-default:hover {
    background: #177ee5;
    color: #fff;
    border-color: #177ee5;
}

.mid-modal-section .ta-scroll-window > .ta-bind:focus {
    border: none;
    outline: 0;
}


.page-sidebar-menu li:hover i {
    color: #177ee5;
}
#subscribeContent h6,
.dash-search .panel-data h6 {
    color: #333;
}

.dashboard-entry .small-title {
    color: #3d3d3d;
}

.dashboard-entry .right-box h4 {
    color: #212121;
    padding-bottom: 10px;
    font-size: 18px;
}

.right-box .box-feature > div {
    padding: 8px 0px;
}

.dashboard-entry .big-price {
    color: #e71d26;
}

.dashboard-entry .box-offer {
    display: none;
}

.dashboard-entry #publicPlanDesc .plan-box {
    display: block;
    margin-top: 55px;
}

.product-offer input[type="radio"] + label span,
.step-entry input[type="radio"] + label span,
input[type="radio"] + label span {
    background-image: url("../../images/radio-red.png");
}

.step-entry input[type="checkbox"] + label span,
input[type="checkbox"] + label span {
    background-image: url("../../images/checkbox-red.png");
}

.dashboard-entry .device-slide-description h4 {
    color: #3d3d3d;
}

.optionalfeature-price {
    color: #e71d26;
    float: right;
}

.device-item .device-pack h3 {
    min-height: 44px;
}

.device-pack .radio-sets input[type="radio"] + label {
    color: #e71d26;
}


.navbar-brand img {
    display: none;
}

.navbar-brand {
    background: url('../../images/et-logo-red.png') no-repeat 0 15px;
    display: block;
    width: 206px;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.modal-body.role-admin .category-item:hover, .modal-body.role-admin .category-item:focus {
    color: #e71d26;
    border: 1px solid #e71d26;
}
.modal-body.role-admin .category-item:hover .btn {
    border-color: #e71d26;
    color: #fff;
    background: #e71d26;
}

/* refiend style */
#searchTicket button[name="Reset_btn"]:hover,
#searchTicket button[name="Reset_btn"]:focus,
button[name="Reset_btn"]:hover,
button[name="Reset_btn"]:focus{
    background: #177ee5;
    color: #fff;
    border-color: #177ee5;

}


.title.has-result .btn.btn-default {
    color: #177ee5;
}

.pagination > .active > a {
    border-color: #177ee5;
}

.pagination > .active > a:hover {
    background: #177ee5;
}

.table .selected {
    background-color: rgba(241,121,127,.055);
}

.normal-wrap.order-list .panel-options .btn.btn-default {
    color: #e71d26;
    border-color: #e71d26;
}

.normal-wrap .title .btn.btn-default:hover {
    background: #177ee5;
    color: #fff;
}

.modal-body.role-admin .top-categories {
    padding: 0;
    background: #fff;
}

.modal-body.role-admin .category-item:hover, .modal-body.role-admin .category-item:focus {
    border: none;
}

.modal-body.role-admin .category-item {
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
}





.label-description strong {
    color: #e71d26;
}

.two-third-last.filled-lite .btn.btn-default:hover,
.action-group .btn-default:hover, .button-more .btn-default:hover {
    color: #e71d26;
    border: 1px solid #e71d26;
    background: #fff;
}

.two-third-last.filled-lite .btn.btn-default,
.action-group .btn-default, .button-more .btn-default {
    color: #fff;
    border: 1px solid #e71d26;
    background: #e71d26;
}

.normal-wrap.custom .title ul li .btn {
    border-color: #177ee5;
}


.etak-spinner .btn-spin:hover,
.etak-spinner .btn-spin:focus,
.list-action button:hover,
.list-action button:focus {
    color: #e71d26;
}

#publicDispOtherProd h3 {
    color: #e71d26;
}











 /*# sourceMappingURL=theme1.css.map */