@section routings
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/Routings/AccountConfirmationRouting.js"></script>
}
@section controllers
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/ModuleForm/AccountConfirmationForm.js"></script>
    <script src="~/Areas/Authorization/Bindings/ViewModels/Controllers/AccountConfirmationController.js"></script>
}
@section services
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/Services/AccountConfirmationService.js"></script>
}
<div ng-view></div>
