@section routings
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/Routings/ResendKeyRouting.js"></script>
}
@section controllers
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/Controllers/ResendKeyController.js"></script>
    <script src="~/Areas/Authorization/Bindings/ViewModels/ModuleForm/ResendKeyForm.js"></script>
}
@section services
{
    <script src="~/Areas/Authorization/Bindings/ViewModels/Services/ResendKeyService.js"></script>
}
<div ng-view></div>
