<section class="normal-wrap">
    <header class="title">
        <ul>
            <li><a href="#" class="icon-cog "></a></li>
            <li><a href="#" class="icon-bin2 "></a></li>
        </ul>
        <h6>TROUBLE TICKETS</h6>
    </header>
    <section class="clear-wrap-padding bg-gray bg-subsearch">
        <div class="relative">
            <i class="icon-search2 icon-location"></i><input type="name" class="form-control normal-input" placeholder="search contents">
        </div>
    </section>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <label class="checkbox-inline">
                <input type="checkbox" value="option1"> <span class="disc-red"></span>Lomern imgsie et dicutm urnot
            </label>
        </a>
        <a href="#" class="list-group-item">
            <label class="checkbox-inline">
                <input type="checkbox" value="option1"> <span class="disc-red"></span>Lomern imgsie et dicutm urnot
            </label>
        </a>
        <a href="#" class="list-group-item">
            <label class="checkbox-inline font-lightgray">
                <input type="checkbox" value="option1"><span class="disc-lightgray"></span>working et dicutm ur
            </label>
        </a>
        <a href="#" class="list-group-item">
            <label class="checkbox-inline">
                <input type="checkbox" value="option1"><span class="disc-blue"></span>Lomern iworking et dicutm urt
            </label>
        </a>
        <a href="#" class="list-group-item">
            <label class="checkbox-inline">
                <input type="checkbox" value="option1"><span class="disc-blue"></span>working et dicutm ur correctly
            </label>
        </a>
        <a href="#" class="loadmore">LOAD MORE</a>
    </div>
</section>
