<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box-blue normal-wrap">
            <h6 class="col-sm-12 col-xs-12">PENDING BIZ</h6>
            <div class="col-sm-6 col-xs-6">
                <p class="font-blue">{{products.PendingBiz.Portabilities.Portability.SubscriptionRanges.PortabilitySubscription.MSISDN}}</p>
                <span>MSISDN</span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <p class="font-red">{{products.PendingBiz.Portabilities.Portability.Status}}</p>
                <span>STATUS</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box-brown normal-wrap">
            <h6 class="col-sm-12 col-xs-12">LOYALTY & RATING</h6>
            <div class="col-sm-6 col-xs-6">
                <p class="font-blue">{{products.CustomerProperties.LoyaltyPoints}}</p>
                <span>LOYALTY POINTS</span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <p class="font-red">0</p>
                <span>RATING</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box-blue normal-wrap">
            <h6 class="col-sm-12 col-xs-12">PROMOTIONS & WALLETS</h6>
            <div class="col-sm-6 col-xs-6">
                <p class="font-blue">{{products.CustomerProperties.Promoted}}</p>
                <span>PROMOTED</span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <p class="font-red">{{products.CustomerProperties.Wallets}}</p>
                <span>WALLETS</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box-brown normal-wrap">
            <h6 class="col-sm-12 col-xs-12">UNBILLED & BALANCE</h6>
            <div class="col-sm-6 col-xs-6">
                <p class="font-blue">{{products.CustomerProperties.Unbilled}}</p>
                <span>UNBILLED</span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <p class="font-red ">{{products.CustomerProperties.Balances}}</p>
                <span>BALANCE</span>
            </div>
        </div>
    </div>
</div>
