<section class="normal-wrap clearfix">
            <header class="title">
                <h3><i class="et data5"></i>{{'Last_Session' | translate}}</h3>
                <div class="panel-options">
                    <ul>

                        <li>

                            <button type="button" class="btn-toggle" data-target="#appThird" data-toggle="collapse">
                                <i class="et rounded61"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </header>
    <div id="appThird" class="apps-updates collapse in">
        <ul class="list-group">

            <li class="list-group-item">&nbsp;</li>


        </ul>



        <!--<a href="#" class="btn btn-primary"><i class="fa fa-refresh"></i>{{'LOAD MORE' | translate}}</a>-->

    </div>
</section>



