<div class="row">
    <div class="col-xs-12 col-sm-12 ">
        <section class="normal-wrap">
            <header class="title">

                <h6>{{'Shorcuts' | translate}}</h6>
            </header>
            <div class="list-group clear-border">
                <div></div>
                <a href="#" class="list-group-item"><span class="badge">{{products.Billing.BillingCategory}}</span>{{'Add Customer' | translate}}</a>
                <a href="#" class="list-group-item"><span class="badge">{{products.Billing.BillingCycle}}</span>{{'SIM swap' | translate}}</a>
                <a href="#" class="list-group-item"><span class="badge">{{products.Billing.BillingDate}}</span>{{'Phone number swap' | translate}}</a>
                <a href="#" class="loadmore">{{'LOAD MORE' | translate}}</a>
            </div>
        </section>
    </div>
</div>
