
            <!--<h3>General Information</h3>

            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-12">
                  <div class="self-care">
                      <etbossform name="customerupdate" ng-controller="UpdateProfileFormController" field="{{datas}}"></etbossform>
                  </div>
              </div>
            </div>-->



<div class="inner-page">
    <div ng-include="'Templates/SelfCare/Themes/Breadcrumb.html'"></div>


    <div class="inner-selfcare">
        <div class="container">
            <div class="panel-data clean">
                <h3>General Information {{isBirthdate}}</h3>

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-12">
                        <div class="self-care">
                            <etbossform name="customerupdate" ng-controller="UpdateProfileFormController" field="{{datas}}"></etbossform>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

