/* for topbar, about user infomation */
.topbar-wrap{
  @extend %fullscreen;
  @extend %font-family-thin;
  background-color: $main-pink;
  overflow: hidden;
  @extend %font-white;
  height: 43px;
  line-height: 43px;
  strong{font-size: 24px; margin-right: 15px;}
  .user-menu {
    /* user settings, let them align right */
    @extend %li-clear-default;
    text-align: right;
    ul {
      li {
        display: inline-block;
        a {
          @extend %space;
          border-left: 1px solid rgba($font-white,.6);
          @extend %font-white;
        }
      }
      .clear-right-padding{
        margin-right: -15px;
       /* clear margin-right of "a" on bootstrap framework, let "a" keep the align right .*/
      }
    }
  }
  }

