<div div ng-app="appMain" ng-controller="SearchCustomer" data-id="@ViewData[" temp"]">
    <div class="container path-wrap">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#"><b> Product Information</b></a></li>
        </ol>
        @*<h2>Billing & Payments</h2>*@
    </div>


    <!--start main content-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 clear-space">
                <div class="sidebar normal-wrap">

                    <ul>
                        <li><a href="#" class="side-hover"><i class="icon-credit-card"></i>Products</a></li>
                        <li><a href="#"><i class="icon-paste"></i>Resource Info</a></li>
                        <li><a href="#"><i class="icon-paste"></i>Subscriber Prov.</a></li>
                        <li><a href="#"><i class="icon-paste"></i>Trouble Tickets</a></li>
                        <li><a href="#"><i class="icon-paste"></i>DMC</a></li>
                        @*
                        <ul class="sub-item">
                            <li><a href="#">manage EasyPay Settings</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Payment History</a></li>
                        </ul>*@
                        <li><a href="#"><i class="icon-pie-chart"></i>Billing</a></li>
                        <li><a href="#"><i class="icon-pie-chart"></i>Invoicing & Payments</a></li>
                    </ul>
                </div>
                <div class="side-link normal-wrap">
                    <h5 class="title">Quick Tasks</h5>
                    <ul class="content">
                        <li><a href="#">Get help reading your bill</a></li>
                        <li><a href="#">Update your billing address</a></li>
                        <li><a href="#">See payment options</a></li>
                        <li><a href="#">Monitor account use</a></li>
                        <li><a href="#">Learn how to control monthly costs</a></li>
                        <li><a href="#">More billing help</a></li>
                        <li><a href="#">Manage Downloads</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 clear-space">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="normal-wrap">
                                <h5 class="title">Product Information</h5>
                                <div class="content">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>Subscription Date</td>
                                                <td>End Date</td>
                                                <td>Product Id</td>
                                                <td>Package Id</td>
                                                <td>Service Type</td>
                                                <td>Subservice Type</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="model in products.ProductInformation">
                                                <td>{{model.SubscriptionDate}}</td>
                                                <td>{{model.EndDate}}</td>
                                                <td>{{model.ProductId}}</td>
                                                <td>{{model.PackageId=0}}</td>
                                                <td>{{model.ServiceType}}</td>
                                                <td>{{model.SubServiceType}}</td>

                                            </tr>

                                        </tbody>

                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
