<div class="title clearfix">
    <h3><i class="et office"></i>{{'ADD_USER' | translate}}</h3>
    <div class="panel-options">
        <ul>
            <li class="btn-active customize"><button id="assignrole_adduser" type="button" data-toggle="modal" data-target="#userroleModal" class="btn btn-default">{{'Assign_Role' | translate}}</button></li>
        </ul>
    </div>
</div>

<div class="collapse in" id="userManagementAdd">
    <etbossform type="split" name="adduserform" ng-controller="AddUserForm" field="{{datas}}"></etbossform>
</div>

<!--<script type="text/ng-template" id="confirmaddusercancel.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{'Cancel_Popup' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <label class="col-sm-12">{{'confirmmessage' | translate}}</label>
        </div>
    </div>
</script>-->

<div id="confirmCancelModal" modal="confirmCancelModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Cancel Add User</h4>
            </div>
            <div class="modal-body">
                <p>Changes not saved yet, are you sure you want to leave this page?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click="okcancel()">Okay</button>
                <button class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="userroleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content etak-modal">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h3 class="modal-title">{{'Modify_User_Role' | translate}}</h3>
                <button type="button" class="close" data-dismiss="modal"><i class="et delete8"></i></button>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-repeat="Role in mvnorole">
                    <!--<input type="checkbox" value="Role.RoleID" />{{Role.RoleName}} <br />-->
                    <label class="checkbox-inline">
                        <input id="{{Role.RoleID}}" type="checkbox" value="{{Role.RoleID}}" ng-checked="rolelist.indexOf(Role.RoleID) > -1" ng-click="toggleSelection(Role)" name="{{Role.RoleName}}" ng-hide="false" />
                        <label for="{{Role.RoleID}}"><span></span>{{Role.RoleName}}</label>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" ng-click="assignrole()">{{'Submit' | translate}}</button>-->
                <button type="button" class="btn btn-default" ng-click="saveselection()" data-dismiss="modal">{{'Submit' | translate}}</button>
            </div>
        </div>
    </div>
</div>