<!--<style>
    .selected {
        background-color: #ffa;
        color: black;
        font-weight: bold;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }

    .fullwidth {
        width: 100%;
    }
</style>-->
<div class="inner-dashboard">
    <div class="title clearfix">
        <h3><i class="et database19"></i>{{'Support_Request_TT' | translate}} {{'Search' | translate}}</h3>
        <div class="panel-options">
            <ul>
                <li>
                    <button type="button" class="btn-toggle" data-target="#supportSearch" data-toggle="collapse">
                        <i class="et rounded61"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse in" id="supportSearch">
        <form class="etak-form form-horizontal" name="form.SupportRequestTTUIForm">
            <div class="form-content split">
                <div class="form-group" ng-show="{{isETAKUser}}">
                    <label class="col-md-4 col-sm-4 control-label">{{'MVNO' | translate}} :</label>
                    <div class="col-md-8 col-sm-8">
                        <select name="MVNO" class="form-control" ng-model="keySearch.keyMVNO" ng-change="updateOnChangeMVNO(keySearch)" ng-disabled="{{!isETAKUser}}">
                            <option value="{{item.value}}" ng-repeat="item in TTMVNO" ng-selected="keySearch.keyMVNO == item.value">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">{{'From' | translate}} :</label>
                    <div class="col-md-8 col-sm-8">
                        <div class="input-group date">
                            <input name="From" type="text" ng-model="keySearch.keyFrom" class="form-control " placeholder="{{DatePlaceholder}}" ng-change="updateselected(keySearch)" readonly>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">{{'Category' | translate}} :</label>
                    <div class="col-md-8 col-sm-8">
                        <select name="Category" class="form-control" ng-model="keySearch.keyCategory" ng-change="updateselected(keySearch)">
                            <option value="">Any</option>
                            <option value="{{item.TypeId}}" ng-repeat="item in TTCategory" ng-selected="keySearch.keyCategory == item.TypeId">{{item.NameId.DefaultMessage}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{'To' | translate}} : </label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="To" type="text" ng-model="keySearch.keyTo" class="form-control " placeholder="{{DatePlaceholder}}" ng-change="updateselected(keySearch)" readonly>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <span id="ValidateDateRange" ng-bind-html="lang.validationmessage.daterange" class="help-block with-errors" ng-show="form.SupportRequestTTUIForm.$error.dateRange_FromTo"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{'MSISDN' | translate}} : </label>
                    <div class="col-sm-8">
                        <input name="MSISDN" ng-model="keySearch.keyMSISDN" ng-change="updateselected(keySearch)" type="text" class="form-control " placeholder=""
                               ng-class="{ error: form.SupportRequestTTUIForm.MSISDN.$invalid }" ng-pattern="/^[0-9%]+$/">
                        <span id="MSISDNValidateNumber" ng-bind-html="lang.validationmessage.number" class="help-block with-errors" ng-show="form.SupportRequestTTUIForm.MSISDN.$error.pattern"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{'Status'| translate}} : </label>
                    <div class="col-sm-8">
                        <select name="Status" class="form-control" ng-model="keySearch.keyStatus" ng-change="updateselected(keySearch)">
                            <option value="">Any</option>
                            <option value="{{item.value}}" ng-repeat="item in TTStatus" ng-selected="keySearch.keyStatus == item.value">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-bottom more clearfix">
                <button name="Search_btn" type="button" class="btn btn-blue btn-big" ng-click="form.SupportRequestTTUIForm.$valid && search()"><i class="icon-search"></i>{{'Search' | translate}}</button>
                <button name="Reset_btn" type="button" class="btn btn-red btn-big" ng-click="resetSearch()"><i class="icon"></i>{{'Reset' | translate}}</button>
            </div>
        </form>
    </div>
</div>