<div class="row">
    <div class="col-md-12 toppad">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Change Password</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" name="passform" ng-controller="UpdatePasswordCustomerController" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="old password">Old Password</label>
                                <div id="val_opass">
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="old_password" placeholder="Enter Old Password" ng-model="o_pass">
                                        <div class="hidden" id="opass_msg">
                                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                            <p id="inputError2Status" class="alert-danger">This field is required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="New Password">New Password</label>
                                <div id="val_npass">
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="new_password" placeholder="Enter New Password" ng-model="n_pass">
                                        <div class="hidden" id="npass_msg">
                                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                            <p id="inputError2Status" class="alert-danger">This field is required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Confirm Password</label>
                                <div id="val_cpass">
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="c_password" placeholder="Enter Confirm Password" ng-model="c_pass">
                                        <div class="hidden" id="cpass_msg">
                                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                            <p id="inputError2Status" class="alert-danger">This field is required</p>
                                        </div>
                                        <div class="hidden" id="cpass_npass_msg">
                                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                            <p id="inputError2Status" class="alert-danger">Must same as new password</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group pull-right">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success" id="btn_savepass" ng-click="saveChangesPassword()">Save</button>
                                    <a href="Customer/CustomerArea/CustomerProfile" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="modal_btn_pass_success" class="hide" data-toggle="modal" data-target=".password_modal_success">Large modal</button>
<button type="button" id="modal_btn_pass_error" class="hide" data-toggle="modal" data-target=".password_modal_error">Large modal</button>

<div class="modal fade password_modal_success" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> Your password is updated.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade password_modal_error" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Failed!</strong> Your password is not updated.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>