@section routings
{
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Routings/SelfNavRouting.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Routings/SelfHeaderRouting.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Routings/SelfFooterRouting.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Routings/SelfContentRouting.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Routings/SelfErrorRouting.js"></script>
}
@section controllers
{
    @* content module *@
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/YourProfile/YourProfileController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/UpdateProfile/UpdateProfileController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Dashboard/DashboardController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/ModuleForm/SelfContentForm.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/UsageDetail/UsageDetailController.js"></script>  
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/BuyMore/BuyServiceController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Support/TroubleTicketController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/BuyMore/TopUpController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Payment/PaymentController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Devices/ManageDeviceController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Activation/ActivationController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/ModuleForm/ActivationForm.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/ManageAutoPay/View.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/ManageAutoPay/AddCreditCard.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Security/ChangePassword.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/ModuleForm/AddCreditCardForm.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Examples/ExamplesController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/ModuleForm/ExamplesForm.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Component/SelfcareBreadcrumbController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/Starting/DevicesController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/ManageService/ManageServiceController.js"></script> 
    @* header module *@
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Header/CustomerWrapperController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Header/TopManageDeviceMenuController.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShoppingCartController.js"></script>
    
    @* nav module *@
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/Navigation/NavigationControllers.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Controllers/ModuleForm/SelfNavForm.js"></script>

    @* Shopping Cart *@
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CoverageCheck/CoverageCheckController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerInfo/CustomerInfoController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/NumberSelection/NumberSelectionController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Ordering/OrderingController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShippingAndPayment/ShippingAndPaymentController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Summary/SummaryController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationHeaderController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/ModuleForm/FeatureForm.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShoppingBasket/ShoppingBasketController.js"></script>

}
@section services
{
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerDetailService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerSummaryService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareNavigationService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareDashboardService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/NavigationMenuCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareIdleHandlerService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SupportCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SupportService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/TroubleTicketService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/BuyMoreService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/BuyMoreCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/PaymentService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/PaymentCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerWrapperService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/ManageDeviceService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/ManageDeviceCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareActivationService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerRegistrationDetailService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SecureSectionService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareGetterSetterService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfCareCommonService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/CustomerProductsService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/RevenueCacheService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/RevenueService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/ProductService.js"></script>

    @* sopping cart *@
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicCacheService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicAddressService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicPaymentService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationCacheServices.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicTaxService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicDeviceManagementServices.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicGetterSetterService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicPortabilityService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicProductsService.js"></script>

    @* SelfShopping Cart *@
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfShoppingFunctionService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/PaymentFunctionService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/ShoppingCartService.js"></script>
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Services/SelfShoppingCartCacheService.js"></script>

    @* Payment SelfShopping Cart *@
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicCacheService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/SelfActivationService.js"></script>

    @* Common multisubscription *@
    <script src="~/Scripts/common/services/MultiSubscriptionService.js"></script>
    <script src="~/Scripts/common/services/MultiSubscriptionCacheService.js"></script>

}
@section directives
{
    <script src="~/Areas/SelfCare/Bindings/ViewModels/Directives/SelfCareWeb.js"></script>
}
<div ng-view></div>
