<!--<div class="cell-box">
    <div class="cell-entry more-device">
        <div ng-include="'Templates/SelfCare/Dashboard/contractinformation.html'"></div>
        <div ng-include="'Templates/SelfCare/Dashboard/AccountUsage.html'"></div>
    </div>
    <div class="cell-entry">
        <div ng-include="'Templates/SelfCare/Dashboard/viewormanagedevice.html'"></div>
    </div>
</div>-->



        <!--<div class="double-box mtop20" ng-include="'Templates/SelfCare/Dashboard/planandservice.html'"></div>-->
        <!--<div class="box-content contract" ng-include="'Templates/SelfCare/Dashboard/contractinformation.html'"></div>
        <div class="box-content" ng-include="'Templates/SelfCare/Dashboard/AccountUsage.html'"></div>-->
        <!--<div class="box-content mtop20" ng-include="'Templates/SelfCare/Dashboard/easypay.html'"></div>-->

            <!--<div ng-include="'Templates/SelfCare/Dashboard/viewormanagedevice.html'"></div>-->


        <!--<div class="col-lg-12 col-md-12" ng-repeat="item in mainDashboard.DashboardMenu">
            <div ng-include="item"></div>
        </div>-->


<!--<div class="row">
    <div class="mtop20" ng-include="'Templates/SelfCare/Dashboard/mostdatausage.html'"></div>
    <div class="double-box mtop20" ng-include="'Templates/SelfCare/Dashboard/planandservice.html'"></div>
    <div class="box-content contract" ng-include="'Templates/SelfCare/Dashboard/contractinformation.html'"></div>
    <div class="box-content" ng-include="'Templates/SelfCare/Dashboard/AccountUsage.html'"></div>
    <div class="box-content mtop20" ng-include="'Templates/SelfCare/Dashboard/easypay.html'"></div>
    <div style="color:red">
        <div ng-include="'Templates/SelfCare/Dashboard/viewormanagedevice.html'"></div>

    </div>
    <div class="col-lg-12 col-md-12" ng-repeat="item in mainDashboard.DashboardMenu">
        <div ng-include="item"></div>
    </div>
</div>-->
