<div class="row no-gutters">
    <div class="col-lg-8 col-md-8 col-sm-8">
        
        <div class="general-info">
            
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="info-icon">
                        <div class="profile-title">
                            <h4>Your profile</h4>
                        </div>
                        <div ng-include="'Templates/SelfCare/Themes/Info.html'"></div>
                        
                    </div>

                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">

                    <div class="info-data">
                        <etbossform name="yourprofile" ng-controller="YourProfileETViewController" field="{{yourprofile_data}}"></etbossform>
                        <!--<form class="etak-form form-horizontal">
                            <div class="form-content">
                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-user"></i>Name</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Agosto middle Vacaciones</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-envelope-o"></i> Email Address</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">devtest@etak.com</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-file-text-o"></i> Document Type</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">DNI</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-file-text-o"></i> Document Number</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">20150728C</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-map-marker"></i> Customer Address</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Calle Pruebas No. Madrid ext: 1, Madrid, Madrid, Antigua and Barbuda, 28043</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-map-marker"></i> Fiscal Address</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Calle Pruebas No. Madrid ext: 1, Madrid, New York, Antigua and Barbuda, 28043</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-map-marker"></i> Delivery Address</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Calle Pruebas No. Madrid ext: 1, Madrid, New York, Antigua and Barbuda, 28043</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-bank"></i> Bank Account</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">ES8023100001180000012345</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-info"></i> Owner</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">QaQaTest</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 control-label"><i class="fa fa-globe"></i> Nationality</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Spain</p>
                                    </div>
                                </div>






                            </div>
                        </form>-->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="side-info">
            <div class="selfcare-boxes enroled" ng-include="'Templates/SelfCare/Dashboard/easypay.html'"></div>
            <!--<div class="selfcare-box" ng-include="'Templates/SelfCare/Dashboard/planandservice.html'"></div>-->
            <!--<h3>Current plan and service</h3>
            <div class="side-plan">



                <div class="plan-detail">
                    <h4><a href="">Plan name</a></h4>
                    Family 2000 Talk & Text 6GB 2000 Whenever minutes Unlimited & Weekends Unlimited Mobile to Mobile
                    <a href="" class="btn btn-default rounded">change plan</a>
                </div>

                <div class="plan-detail">
                    <h4><a href="">Service name</a></h4>
                    Block Services Block Calls and Messages
                    <a href="" class="btn btn-default rounded">change plan</a>
                </div>

            </div>-->
        </aside>
    </div>
</div>


            <!--<h3 class="title-inline clearfix">General Information</h3>

                        <a id="edit_profile" href="/SelfCare/Customer/App/UpdateProfile"
                           class="btn btn-outline btn-sm pull-right">
                            <i class="glyphicon glyphicon-pencil"></i> EDIT PROFILE
                        </a>



                <etbossform name="yourprofile" ng-controller="YourProfileETViewController" field="{{yourprofile_data}}"></etbossform>-->






