<div class="inner-page">

  <div ng-include="'Templates/SelfCare/Themes/Breadcrumb.html'"></div>
  

    <div class="inner-selfcare">
        <div class="container">
            <div class="info-title clearfix">
                <h3>General Info</h3>
                <a id="edit_profile" href="/SelfCare/Customer/App/UpdateProfile" class="btn btn-with-icon"><span><i class="et repair31"></i> Edit profile</span></a>
            </div>
            <div ng-include="'Templates/SelfCare/YourProfile/GeneralInformation.html'"></div>
        </div>
    </div>

    <!--<div ng-include="'Templates/SelfCare/Themes/Info.html'"></div>-->

  <!--<div class="inner-selfcare">
    <div class="container">

      <div class="panel-data clean">
        <div ng-include="'Templates/SelfCare/YourProfile/GeneralInformation.html'"></div>



      </div>
      <span class="mtop20">&nbsp;</span>
      <div ng-include="'Templates/SelfCare/YourProfile/DetailInformation.html'"></div>

    </div>
  </div>-->


</div>











