@section routings
{
    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/Routings/AuthorizationRouting.js")" type="text/javascript"></script>

}
@section controllers
{

    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/Controllers/AuthorizationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/ModuleForm/LoginForm.js")" type="text/javascript"></script>

}
<!-- Admin header -->
<div ng-view></div>
@*<div ng-view></div>*@
