<div class="inner-page">
    <div class="top-inner etak">
        <div class="top-inner-content">
            <div class="container">
                <h3>ETBOSS FORM EXAMPLES</h3>
            </div>
        </div>
    </div>

    <div class="selfcare-breadcrumb">
        <div class="container">
            <ol class="etak-breadcrumb">
                <li><a href=""><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#" class="current">ETBOSS FORM EXAMPLES</a></li>
            </ol>
        </div>
    </div>

    <div class="user-detail-inner">
        <div class="container">
            <div class="box-sides three-part">

                <div class="box-sides-entry">
                    <div class="user-inner">
                        <i class="et maleuser"></i>
                        <h3>Welcome, </h3>
                        <h4>{{wellcomeUser}}</h4>
                    </div>
                </div>

                <div class="box-sides-entry boxed">
                    <div class="user-inner">
                        <i class="et smartphones17"></i>
                        <h3>Primary Mobile Number:</h3>
                        <h4>+1 234 567 8900 ext.123 <!--{{primaryMobile}}--></h4>
                    </div>
                </div>

                <div class="box-sides-entry">
                    <div class="user-inner">
                        <i class="et business133"></i>
                        <h3>account number</h3>
                        <h4>901222-12221</h4>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="inner-selfcare">
        <div class="container">
            <div class="panel-data clean">
                <h3><span>ETBOSS</span> Example</h3>
                <etbossform name="ETBOSSForm" ng-controller="ETBOSSFormController" field="{{datas}}"></etbossform>
            </div>

        </div>
    </div>
</div>
