.footer-wrap{
  /*footer bottom size is full screen (100%);*/
  @extend %fullscreen;
  background-color: $bg-white;
  border-top: 1px solid $border-gainsboro;
  padding: 20px 0;

  .copyright{
    text-align: center;
    color: $font-lightgray;

  }
}