<!--<style>
    .selected {
        background-color: #ffa;
        color: black;
        font-weight: bold;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }

    .fullwidth {
        width: 100%;
    }
</style>-->
<div class="container" ng-controller="TTKPIConfigurationSectionController">
    <div class="row">
        <section class="col-sm-3 col-xs-12">
            <!--Load the sidebar, TODO make common side bar-->
            <div ng-include="'Templates/CSR/Administrator/Sidebar/Sidebar.html'"></div>
        </section>
        <div class="col-sm-9 col-xs-12">
            <section class="normal-wrap">
                <header class="title">
                    <h3>
                        <i class="et cogwheel28"></i> {{'TTKPI_Configuration' | translate}}
                    </h3>
                    <div class="panel-options">
                        <ul>
                            <li>
                                <button type="button" class="btn-toggle" data-target="#manageTTKPI" data-toggle="collapse">
                                    <i class="et rounded61"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </header>
                <div id="manageTTKPI" class="panel-data">
                    <form class="form-horizontal" name="form.ManageTTKPIUIForm">
                        <!-- for half side input -->
                        <div class="form-group row half-width" ng-show="{{isETAKUser}}">
                            <label class="col-sm-4 control-label">{{'MVNO' | translate}} : </label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="keySearch.keyMVNO" ng-change="updateOnChangeMVNO(keySearch)" ng-disabled="{{!isETAKUser}}">
                                    <option value="{{item.value}}" ng-repeat="item in TTMVNO" ng-selected="keySearch.keyMVNO == item.value">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- end of input -->
                    </form>

                    <div class="inline-box">
                        <ul class="btn-inline">
                            <li ng-show="isTTKPIModifyEnable">
                                <a class="btn btn-default" type="button" href="#" ng-click="doing('Modify')" ng-show="isTTKPIModifyEnable">{{'Modify_TTKPI' | translate}}</a>
                            </li>
                        </ul>
                        <div class="table fullwidth more-data">
                            <table class="table table-hover table-responsive">
                                <thead class="table-head">
                                    <tr>
                                        <th>#</th>
                                        <th ng-click="sortKey='Classes.Name.DefaultMessage';reverse=!reverse">
                                            {{'Class'| translate}}
                                            <span class="fa fa-sort" ng-show="sortKey=='Classes.Name.DefaultMessage'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-click="sortKey='Priorities.Name.DefaultMessage';reverse=!reverse">
                                            {{'Priority'| translate}}
                                            <span class="fa fa-sort" ng-show="sortKey=='Priorities.Name.DefaultMessage'" ng-class="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th>
                                            {{'KPI_RESPONSE_TIME_HOURS'| translate}}
                                        </th>
                                        <th>
                                            {{'KPI_DATE_LIMIT_HOURS'| translate}}
                                        </th>
                                        <th>
                                            {{'KPI_DATE_LIMIT_HOURS_TYPE'| translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-init="sortKey='Classes.Name.DefaultMessage';reverse=false;">
                                    <tr dir-paginate="item in CstData| orderBy:sortKey:reverse | itemsPerPage:10" ng-class=" {'selected':item.ClassTypeId==selectedRow}" ng-click="setClickedRow(item)" current-page="currentPage">
                                        <td>{{currentPage <= 1 ? ($index+1) : ($index+1) + ((currentPage-1) * 10) }}</td>
                                        <td>{{item.Classes.Name.DefaultMessage}}</td>
                                        <td>{{item.Priorities.Name.DefaultMessage}}</td>
                                        <td>{{item.KpiResponseTimeHours}}</td>
                                        <td>{{item.KpiDateLimitHours}}</td>
                                        <td>{{item.KpiDateLimitHoursType}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 boundary-links="true"
                                                 ng-show="CstData.length">
                        </dir-pagination-controls>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="ModifyTTKPIModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div ng-include="'Templates/CSR/Administrator/TroubleTicketConfiguration/KPI/ModifyTTKPI.html'"></div>
    </div>
</div>