    @{
    ViewBag.Title = "Home Page";
}



<div ng-controller="CustomerDashboard">


        <!--start Path of page-->
        <div class="container path-wrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#"><b>Customer Summary Dashboard</b></a></li>
            </ol>
        </div>
        <!--start main content-->
        <div class="container">
            <div class="row">
                <div class="col-md-3 clear-space">

                    <div class="side-link normal-wrap">
                        <h5 class="title">Quick Tasks</h5>
                        <ul class="content">
                            <li><a href="#">Get help reading your bill</a></li>
                            <li><a href="#">Update your billing address</a></li>
                            <li><a href="#">See payment options</a></li>
                            <li><a href="#">Monitor account use</a></li>
                            <li><a href="#">Learn how to control monthly costs</a></li>
                            <li><a href="#">More billing help</a></li>
                            <li><a href="#">Manage Downloads</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 clear-space">

                </div>
            </div>
        </div>
    </div>
