<!--<h5 class="title">Contract Information</h5>
<div class="content">
    <p>Contract Term - <strong>Monthly</strong></p>
    <p>Contract Expire - <strong>N/A</strong></p>

    <a href="#">Manage Contract ></a>
</div>-->

<!-- stacked box --->


    <h3>Contract Information</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">monthly</span> Contract term
      </li>
      <li class="list-group-item">
        <span class="badge">NA</span> Contract Expire
      </li>
    </ul>
    <a href="#0" class="btn btn-default rounded">manage contract</a>


<!-- /. stacked box -->




<!--
<div class="main-content">
    <div class="normal-wrap">
        <div class="title clearfix">
            <h3>Contract Information</h3>
        </div>
        <div class="collapse in" id="firstContent">
            <div class="panel-data">
                <div class="row form-content">
                    <p>Contract Term - <strong>Monthly</strong></p>
                    <p>Contract Expire - <strong>N/A</strong></p>
                    <a href="#">Manage Contract ></a>
                </div>
            </div>
        </div>
    </div>
</div>-->
