<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../Styles/custom.css" rel="stylesheet" />
    <link href="../../Styles/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <section class="notify-page">
        <article class="error404-page">
            <div class="container">
                <figure>
                    <img src="../../../../../Images/error-400.png" class="img-responsive" alt="elephanttalk communication">
                </figure>
            </div>
            <div class="bottom-options">
                <hgroup class="notify-top">
                    <h3><span>ooops!</span> We couldn't understand your request!</h3>
                    <h5>Might be you enter wrong url or potentially dangerous request.</h5>
                </hgroup>
                <div class="bottom-act">
                    You might try <a href="#">searching elephanttalk site,</a> or you could <a href="#" onclick="javascript:GoToHomePage()">go back to where you were.</a>
                </div>
            </div>
        </article>
    </section>

    <!--<div class="container">
        <div class="url-error-wrap">
            <p class="error-number">400</p>
            <p class="tit">We couldn't understand your request!</p>
            <p class="detail">
                Might be you enter wrong url or potentially dangerous request.
            </p>
        </div>
    </div>-->
</body>
</html>
