<!--Agung Meinastesi Caesar
Created 23.09.2015
Divide the page into 2 part, side bar and Customer Detail Information-->

<div class="dashboard-entry">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div ng-include="'Templates/CSR/Search/SideBar.html'"></div>
        </div>
        <!--start main content-->
        <div class="col-md-9 col-sm-9">
          <div ng-include="'Templates/CSR/Customer/CustomerDetailInformation.html'"></div>
        </div>
    </div>
</div>
</div>

