@section routings
{
    <script src="~/Areas/Public/Bindings/ViewModels/Routings/PublicRouting.js"></script>
}
@section controllers
{
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/Activation/ActivationController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/ModuleForm/ActivationForm.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CoverageCheck/CoverageCheckController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerInfo/CustomerInfoController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/NumberSelection/NumberSelectionController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Ordering/OrderingController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShippingAndPayment/ShippingAndPaymentController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Summary/SummaryController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationHeaderController.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/ModuleForm/FeatureForm.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShoppingBasket/ShoppingBasketController.js"></script>
}
@section services
{
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicCacheService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/SelfActivationService.js"></script>
    
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicAddressService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicPaymentService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationCacheServices.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicTaxService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicDeviceManagementServices.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicGetterSetterService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicPortabilityService.js"></script>
    <script src="~/Areas/Public/Bindings/ViewModels/Services/PublicProductsService.js"></script>
}
@section directives
{
    <script src="~/Areas/Public/Bindings/ViewModels/Directives/PublicWeb.js"></script>
}
<div ng-view></div>
