@section routings
{
    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/Routings/VerifyCSRUserRouting.js")" type="text/javascript"></script>

}
@section controllers
{

    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/Controllers/VerifyCSRUserFormController.js")" type="text/javascript"></script>

}

@section services
{

    <script src="@Url.Content("~/Areas/Authorization/Bindings/ViewModels/Services/CSRConfirmationService.js")" type="text/javascript"></script>

}
<!-- Admin header -->
<div ng-view></div>