<div class="inner-page">
    <div ng-include="'Templates/SelfCare/Themes/Breadcrumb.html'"></div>
    <div class="inner-selfcare single-payment">
        <div class="container">
            <div class="panel-data clean" ng-controller="ActivationSuccessController">
                <div class="container">
                    <form class="login-warp">
                        <h5 class="center">Congratulation!</h5>
                        <p class="center">
                            <br />
                            Your device actived successfully, you can use the device.<br />
                            Here's your phone number<br />
                            <h5 class="center">+{{activeSuccesWithMDN}}</h5><br /><br />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>