<!--
    Created and added by:
    Mahdi Badari
    User Management HTML content
    created 06 nov 2015
-->
<!--TO DO take data from database (This page and the partial page in this page)-->
<!-- <div class="title clearfix">
        <h3><i class="et office"></i>{{'VIEW_USER' | translate}}</h3>
        <div class="panel-options">
            <ul>
                <li class="btn-active"><a style="margin-top:10px" class="btn btn-default" type="button" href="/CSR/Customer/App/Admin/UserManagement/AddUser">{{'ADD_USER' | translate}}</a></li>
                <li class="btn-active"><a style="margin-top:10px" class="btn btn-default" type="button" href="/CSR/Customer/App/Admin/UserManagement/UserDetail">{{'User_Detail' | translate}}</a></li>
                <li class="btn-active"><a style="margin-top:10px" class="btn btn-default" type="button" ng-click="getSearch()">{{'VIEW_USER' | translate}}</a></li>
            </ul>
        </div>
</div> -->
<div class="collapse in" id="userMgtTable">
    <!--<div ng-include="'templates/csr/administrator/usermanagement/viewuser/viewusertable.html'"></div>-->
    <div class="recompileserversidepaging" compile="includeMultiplePageResultHtml"></div>
</div>
<!--<header class="title">
        <ul>
            <li class="btn-active"><a style="margin-bottom:30px" class="btn btn-default" type="button" href="/CSR/Customer/App/Admin/UserManagement/AddUser">{{'ADD_USER' | translate}}</a></li>
            <li class="btn-active"><a style="margin-bottom:30px" class="btn btn-default" type="button" href="/CSR/Customer/App/Admin/UserManagement/UserDetail">{{'User_Detail' | translate}}</a></li>
            <li class="btn-active"><a style="margin-bottom:30px" class="btn btn-default" type="button" ng-click="getSearch()">{{'VIEW_USER' | translate}}</a></li>
        </ul>
        <h6>{{'VIEW_USER' | translate}}</h6>
</header>
<div class="col-md-08" style="margin-top:20px">
    <div ng-include="'templates/csr/administrator/usermanagement/viewuser/viewusertable.html'"></div>
</div>-->
