<etbossform name="changePasswordForm" value="ChangePasswordController" ng-controller="changePasswordFormController" class="login-warp" field="{{datas}}"></etbossform>

<!--<div class="modal fade" id="passwordSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body-success">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="aui-message success col-sm-12" style="text-align: center;color: black">
                            <p class="pui-success-message">
                                Your password has been changed successfully.<br/>
                                <a href="/Authorization/Login" target="_self">Click here to log in.</a>
</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="modal for-auth fade" id="passwordSuccessModal" tabindex="-1" role="dialog" aria-labelledby="passwordSuccess" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body password-success">
                <span class="auth-icon">
                    <i class="fa fa-check-circle"></i>
                </span>
                <div class="aui-message success">
                    <p class="pui-success-message">
                        <span>Your password has been changed successfully.</span>
                    </p>
                    <div class="modal-agreement">
                        <div class="btn-group">
                            <a href="/Authorization/Login" target="_self" class="btn blue btn-default btn-lg">Click here to log in.</a>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>