

<div class="auth-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">

        <div class="etak-logo">
          <figure>
              <img src="images/etak-logo.png" alt="elephant talk corp." class="img-responsive">
          </figure>
          <h1>Elephanttalk</h1>
        </div>
        <div class="login-page">
                  <div class="login-info">
                      <h3>
                        Login with your account
                      </h3>

                  </div>
                  <etbossform name="loginForm" value="LoginController" ng-controller="loginFormController" class="login-warp" field="{{datas}}"></etbossform>
        </div>

      </div>
    </div>
  </div>
</div>

