<etbossform name="setSecurityQuestionForm" value="SetSecurityQuestionController" ng-controller="setSecurityQuestionFormController" class="login-warp" field="{{datas}}"></etbossform>

<div class="modal fade" id="passwordSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body-success">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="aui-message success col-sm-12" style="text-align: center;color: black">
                            <p class="pui-success-message">
                                Your password has been changed successfully.<br />
                                <a href="/Authorization/Login" target="_self">Click here to log in.</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>