<div class="normal-wrap">
    <header class="title">
        <h3><i class="et bill9"></i>Users of Selected Role</h3>
    </header>
    <div class="panel-data etak-tree mid">
        <ul class="list-white">
            <li class="" ng-repeat="UserRolesName in roleusers">
                {{UserRolesName.email}}
            </li>
        </ul>
    </div>
</div>












<!--<section class="normal-wrap">
    <header class="bg-gray sub-title clear-wrap-padding">
        <h6></h6>
    </header>
    <div>
        <p>selected: {{selected.name}}</p>
        <ul>-->
            <!--<li ng:repeat="artist in list">
                <button ng:click="select(artist)">{{artist.name}}</button>
            </li>-->
            <!--<li class="" ng-repeat="UserRolesName in roleusers">
                {{UserRolesName.Username}}
            </li>
        </ul>
    </div>
</section>-->