<header class="etak-header">

    <nav class="navbar">
        <div class="container">

            <div class="navbar-header">
                <button type="button" id="mobileMenu" class="navbar-toggle collapsed">
                    <i class="et more16"></i>
                </button>
                <a href="index.html" class="navbar-brand company">
                    <img src="images/et-logo.png" class="brand-logo img-responsive" alt="elpehanttalk communication">
                    <img src="images/et-logo-white.png" class="white-logo img-responsive" alt="elpehanttalk communication">
                </a>
            </div>


            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/public/customer/app" class="active">Home</a></li>
                    <li><a href="/public/customer/app/shoppingcart">Shop</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/Authorization/Login" target="_self" class="user-login" data-toggle="tooltip" data-placement="bottom" title="User Login"><i class="icon user7"></i></a></li>
                    <li><a href="/SelfCare/Customer/Registration" target="_self" class="btn btn-default">Selfcare Signup</a></li>


                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->




</header>






<!--<header class="main-header etak-customer">
    <div class="topbar-wrap">

        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#etakMob">
                        <i class="et more16"></i>
                    </button>
                    <a href="index.html" class="navbar-brand company">
                        <img src="images/logo.png" class="navbar-brand img-responsive" alt="elpehanttalk communication">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="etakMob">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Shop</a></li>
                        <li><a href="#0">Services</a></li>
                        <li><a href="#0">Customer Support</a></li>
                        <li><a href="#0">News</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="/Authorization/Login" target="_self"><i class="et maleuser"></i></a></li>
                        <li><a href="/SelfCare/Customer/Registration" target="_self" class="btn btn-default">Selfcare Signup</a></li>
                    </ul>
                </div>

            </div>

        </nav>

    </div>

</header>
end of main header -->
