<form>
    <div class="col-sm-9 col-xs-12">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="form-group form-box">
                    <label for="exampleInputEmail1">Phone Number</label>
                    <input type="number" class="form-control input-noborder" placeholder="please write the phone number">
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group form-box">
                    <label for="exampleInputEmail1">Startdate</label>
                    <input type="date" class="form-control input-noborder" placeholder="please shoose one of the date">
                    <span class="icon-calendar btn"><!-- this is a button, it can choose date on the calendar--></span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group form-box">
                    <label for="exampleInputEmail1">Enddate</label>
                    <input type="date" class="form-control input-noborder" placeholder="please shoose one of the date">
                    <span class="icon-calendar btn"><!-- this is a button, it can choose date on the calendar--></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="form-group form-box">
                    <label for="exampleInputEmail1">Customer Name</label>
                    <input type="name" class="form-control input-noborder" placeholder="please type the infomation">
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="form-group form-box">
                    <label for="exampleInputEmail1">Phone Number</label>
                    <input type="number" class="form-control input-noborder" placeholder="please write the phone number">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-12">
        <p>
            ald koeoad hesbls ropeaqd ald koeoad
            hesbls importad morswer firish
        </p>
        <button type="button" class="button blue btn-primary"><i class="icon-search"></i> Customer Lookup</button>
    </div>
</form>
