<!--Agung Meinastesi Caesar
Created 23.09.2015
Divide the page into 2 part, side bar and dashboard-->
<!-- Rico Hartono Jahja
Modified 21.10.2015
    applying the latest design -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div ng-include="'Templates/CSR/Search/SideBar.html'"></div>
        </div>
        <!--start main content-->
        <div class="col-lg-9 col-md-9">
          <div ng-include="'Templates/CSR/Search/Dashboard.html'"></div>
        </div>

    </div>
</div>



