<!--<section class="et-feat">
    <div class="introduce">
        <div class="feat-content">
            <etbossform name="VerifyCodeForm" ng-controller="SelfActivationFormController" class="login-warp" field="{{datas}}"></etbossform>

        </div>
    </div>
</section>-->

<div class="shopping-page">
    <section class="top-content" style="min-height: 68px">
        <!--shop-now-->
        <div class="container">
            <div class="shoppingpage-title">
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="etakwizard">
            </div>
            <div class="step-entry">
                <div class="step-title">
                    <h3>Subscriber Activation</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <etbossform name="VerifyCodeForm" ng-controller="SelfActivationFormController" class="login-warp" field="{{datas}}"></etbossform>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>